@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --color1: rgb(18,18,18);
    --color2: rgb(0,0,0);
    --color3: rgb(26,26,26);
    --color4: rgb(87,153,239);
    --color5: rgb(44,44,44);
    --color6: rgb(245,197,24);
}

a  {
    text-decoration: none;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--color2);
}

#header {
    width: 100%;
    height: 6rem;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10vw ;
    background-color: var(--color6);
    border-radius: 5px;
}

.logo p {
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 5px;
    color: black;
}
.search-box {
    color: #fff;
    font-size: 2rem;
    display: flex;
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.headertext {
    width: auto;
}
.headertext p {
    color: #fff;
}
.input-control {
    width: auto;
    display: flex;
    flex-direction: column;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#inputBox {
    display: flex;
}

#inputBox input{
    font-size: 25px;
    padding: 3px 8px;
}

#SearchButton {
    background-color: var(--color6);
    height: 37px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SearchButton i {
    font-size: 2.2rem;
    color: black;
}
#SearchButton i:hover {
    cursor: pointer;
}

.search-list{
    margin-top: -19px;
    position: absolute;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}

.search-list .search-list-item{
    background-color: #fff;
    border-bottom: 1px solid var(--color2);
    width: calc(329px);
    background-color: black;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
    color: #fff;
}
.search-list-item{
    height: 80px;
    display: flex;
    align-items: center;
}
.search-item-thumbnail {
    display: flex;
}
.search-item-thumbnail img{
    width: 40px;
    margin: .5rem;
}

.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.8;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
/* .search-list::-webkit-scrollbar-track{
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
} */

#favourit i {
    margin-right: 5vw;
    font-size: 3rem;
    color: var(--color6);
}

#addToBookmarkdiv {
    border-radius: 5px;    
    position: absolute;
    margin: 45px 0px 0px 225px;
    display: flex;
    z-index: 1;
}
#addToBookmarkdiv i{
    font-size: 2rem;
    color: #fff;
    transition: font-size .2s ease;
    opacity: .5;
}

#addToBookmarkdiv i:hover{
    color: red;
    font-size: 2.5rem;
    opacity: 1;
    cursor: pointer;
}

#TrandingMoviesHeading {
   color: #fff;
   padding: 2rem;
   font-size: 3rem;
}

.trandingMovies {
    
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.movieBox {
    margin: 30px;
    width: 250px;
    height: 400px;
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.movieBox::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.movieBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.movieBox .movie-poster img{
    width: 100%;
    height: 360px;
    z-index: -10;
}
.movie-info {
    margin-top: 360px;
    background-color: black;
    padding: 10px;
    left: 0;
    right: 0;
    position: absolute;
    transition: margin-top 1s;
}
.movieBox:hover .movie-info{
   margin-top: 230px; 
}

#showmore {
    margin: 2rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: bolder;
    padding: 9px;
    border: none;
    border-radius: 9px;
    background-color: var(--color6);
    /* cursor: pointer; */
}

.footer {
    padding: 10px;
    width: 100%;
    height: 30vh;
    background-color: var(--color2);
    color: gray;
    font-size: 1.2rem;
}

/* js related class */
.hide-search-list{
    display: none;
}


@media(max-width: 770px){
    #header {
        width: 100%;
        height: 15rem;
        background-color: var(--color1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        margin-top: 30px;
        margin-left: 0;
    }

    #search-list {
        margin-top: -52px;
    }


}

@media(max-width: 550px){
    #header {
        width: 100%;
        height: 15rem;
        background-color: var(--color1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        margin-top: 30px;
    }


    .search-box {
        width: 80vw;
    }

    #inputBox input{
        font-size: 18px;
        padding: 3px 8px;
    }

    #search-list {
        margin-top: -52px;
        width: 210px;
    }

    #TrandingMoviesHeading {
        font-size: 2rem;
    }



}
